.modal{
    
    background-color: rgba(91, 19, 92, 0.658);
    position: relative;
    bottom: 22.6rem;
    height: 150px;
    right: 2rem;
}

.arrowIcon{
    position: relative;
    bottom: -2.5rem;
    left: 1rem;
    cursor: pointer
}

.categories{
    display: flex;
    flex-direction: row;
}