.addNewButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    border: 1px solid black;
    flex-direction: column;
}

.addNewButton img , .addNewButton h2 {
    margin-bottom: 1rem;
}


.addBtn {
    border-radius: 5px;
    padding: 1rem;
    border: none;
    background-color: #8705D2;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    width: 134.27px;

}