.categoryWrap{
    width: 12rem;
    height: 94%;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.123);

}
.category{
    padding: 1rem;
    height: 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.inputCategory{
    margin-left: 2rem;
}

.inputCategory input{
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    position: relative;
    right: 1rem;
    width: 100%;
}

.inputCategory input::placeholder{
    color: black;
    font-size: 0.9rem;
    position: relative;
    top: 0.5rem
    
}
.inputCategory button{
    background-color: transparent;
    border: none;
    position:relative;
    left: 6rem
}
.addCategory{
  
    border: none;

    


}
.addCategory input{
   padding: 1rem;
    border: none;
    font-size: 0.3rem;
    background-color: #503050;
    color: white;
    width: 106%;
}
.addCategory input::placeholder{
    color: white;
    font-size: 1rem;
    
}
.catIcons{
    font-size: 1.3rem;
}

.addCategoryForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
   position: absolute;
   top: 51.5rem;
   left: 1.8rem;
    background-color: #503050;

}

.addCategoryForm button{
    background-color: transparent;
    border: none
}