.categoryWrap{
    width: 17rem;
    height: 94%;
  
    background-color: rgba(91, 19, 92, 0.808);
   color: white;
backdrop-filter: blur(5px);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}

.category{
    padding: 0.5rem;
    height: 20px;
    
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;
    position: relative;
    top: 1rem
    
}

.category form{
    display: flex;
    width: 88%;
}
.category input{
    background-color: transparent;
    border: none;
    color: white
}
.category button{
    border: none;
    background-color: transparent;
    
}
.category input::placeholder{
    color: white
}
.addCategory{
  
    border: none;
   
    


}
.addCategory input{
   padding: 1rem;
    border: none;
    font-size: 0.7rem;
    background-color: #503050;
    color: white;
    width: 116%;
}
.addCategory input::placeholder{
    color: white;
    font-size: 0.7rem;
    
}
.catIcons{
    font-size: 1.3rem;
    margin-right: 1rem;
    padding: 2px;
    height: 25px;
}

.addCategoryForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50rem;
    background-color: #503050;
    border-bottom-left-radius: 10px;

}

.addCategoryForm button{
    background-color: transparent;
    border: none;
   
}