.welcomeWrap{
    background-color: white;
    height: 101%;
    width: 121.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../Assets/Welcome/icons8-home-240.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none
}