.dashboardLayout{
    display: grid;
    grid-template-columns: 3% 80%;
    grid-template-rows: 55px 93vh;
}

.outlet{
    grid-row-start: 2;
    grid-column-start: 2;
}

.searchBar{
    grid-row-start: 1;
    grid-column-start: 2;
}