.card{
    width: 80%;
    align-self: center;
    justify-self: center;
    height: 350px;
    font-size: 0.8rem;
    padding: 1.5rem;
    background-color: rgba(177, 151, 151, 0.404);
    border-radius: 10px;

}

