.container{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.container p{
    margin-right: 5rem;
}

.container input{
    background-color: #f7f7f7 ;
border: none    
   
}
.container input::placeholder{
    font-size: 0.8rem;
}

.inputContainer{
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #f7f7f7 ;
    width: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}