.welcomeWrap{
    height: 101.2%;
    width: 121.2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
}
body{
    background-image: url('../../Assets/bg/defaultbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(20px);
}

.task{
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    background-color: rgba(195, 86, 197, 0.226);
    backdrop-filter: blur(5px);
    border-radius: 10px;

}

.welcomeWrap div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.arrowIcon{
    cursor: pointer;
    position: relative;
    bottom: 20rem;
    right: 1rem;
}